:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

body {
  margin: 0;
}

/* Color variables */

body {
  --background-primary: rgb(214, 214, 214);
}
body.dark {
  --background-primary: rgb(29, 29, 29);
}
